.App {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 15vh;
}

.circle-buttons-container {
  display: flex;
}

.circle-button {
  width: 50px;
  height: 50px;
  background-color: #397299;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.circle-button:hover {
  background-color: #08314d;
}

.custom-modal-width{
 max-width:700px;
}

.card-header{
  background-color: #488A99;
}

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .circle-buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circle-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdowns-container {
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-select {
  width: 150px; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
} */ 

/* .Popovermol{
margin-left: 250px;
} */
.popovertoggler{
margin-left:315px;
margin-top: 25px;

}

.popover {
border: none;

margin-top: 205px;
}
.Maturity-Withdrawal{
padding-left: 26px;
padding-right: 26px;
margin-bottom: 10px;
}

.popoverbody{
/* background-color: cyan; */
max-width:160px;
}




.Popovermol {
overflow: hidden;
z-index: 1050; /* Adjust the z-index as needed */
}

.Popovermol .popover {
overflow: hidden;
z-index: 1051; /* Adjust the z-index to be above the Popovermol */
}

.Popovermol .popover-body {
overflow: hidden;
}

/* Adjust the z-index of the modal */
.modal {
z-index: 1052; /* Ensure the modal appears above the popover */
}

.add-multi{
max-width: 1100px;
}